<footer>
    <div class="wrap">
        <div class="footer-logo">
            <h1>MovieFire</h1>
        </div>
        <ul class="footer-navbar">
            <li><a href="#" class="footer-link">CONTACTS</a></li>
            <li><a href="#" class="footer-link">ABOUT US</a></li>
            <li><a href="#" class="footer-link">ORDERS</a></li>
            <li><a href="#" class="footer-link">REGISTRATION</a></li>
            <li><a href="#" class="footer-link">COPYRIGHTS</a></li>
            <li><a href="#" class="footer-link">FAQ</a></li>
        </ul>
    </div>
    <p class="footer-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum porro fuga nemo earum maiores exercitationem facilis, alias eum perferendis. Ullam.
    </p>
</footer>
